.card {
  font-family: Arial;
  box-sizing: border-box;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
h2 {
  font-family: Arial;
  box-sizing: border-box;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
p {
  font-family: Arial;
  box-sizing: border-box;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
